.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
    display: block;
    margin: auto;
}

.centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    font-weight: bold;
    color: #ffffff;
}

img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}