/* FUENTE LOCAL */

@font-face {
    font-family: "Chelsea Market";
    src: url("../src/ChelseaMarket-Regular.ttf");
}


/* FUENTE LOCAL */


/* ESTILOS DE LA PAGINA */

html {
    min-height: 100%;
    position: relative;
    font-family: "Chelsea Market";
}

body {
    margin: 0;
    margin-bottom: 40px;
    background-color: white;
    background-image: url("../img/background.png");
}


/* ESTILOS DE LA PAGINA */


/* ESTILOS DE LA BARRA DE NAVEGACION (NAVBAR) */

#menu {
    padding: 0;
    list-style: none;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    background-color: #660066;
}

#menu li {
    display: inline;
}

#menu li a {
    /* ANIMACIONES DEL MENU */
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    float: left;
    padding: 10px;
    background-color: #660066;
    color: white;
}

#menu li a:hover {
    background-color: #ad00ad;
}


/* ESTILOS DE LA BARRA DE NAVEGACION (NAVBAR) */


/* ESTILOS DE IMAGENES */

.img-circulo {
    border-radius: 50%;
}

img {
    margin-top: 25px;
    border: 10px;
    max-width: 250px;
}


/* ESTILOS DE IMAGENES */


/* ESTILOS DE BARRAS DE PROGRESO */

table {
    margin: 0 auto;
}

h2 {
    /* ESTILOS DEL TEXTO H2 */
    text-align: center;
    margin-top: 20px;
}

.barradeprogreso {
    /* ESTILOS DE LA BARRA */
    margin-left: 10%;
    margin-right: 10%;
}

.barradeprogreso h4 {
    color: #252525;
    font-weight: 900;
    margin-bottom: 10px;
}

.h4,
h4 {
    /* ESTILOS DEL TEXTO H4 */
    font-size: 18px;
    text-align: left;
}

.porcentaje {
    /* ESTILOS DEL PORCENTAJE */
    float: right;
    margin-top: -30px;
    font-size: 16px;
    font-weight: 400;
    color: #660066;
}

.progress {
    /* ESTILOS DEL PROGRESO DE LA BARRA ('DIV' EXTERNO) */
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px grey;
}

.progreso {
    /* ESTILOS DEL PROGRESO DE LA BARRA ('DIV' INTERNO) */
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #660066;
}

span {
    /* ESTILOS DEL TEXTO INTERNO DE LA BARRA DE PROGRESO (" X% COMPLETADO ") */
    text-align: center;
}


/* ESTILOS DE BARRAS DE PROGRESO */


/* ESTILOS DE FOOTER */

footer {
    text-align: center;
    background-color: #660066;
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 20px;
    color: white;
}


/* ESTILOS DE FOOTER */